# Core Data & Math Libraries
pandas
numpy
scipy

# Machine Learning & Statistics
statsmodels
scikit-learn

# Forecasting Models
prophet

# Deep Learning
tensorflow

# Optimization Libraries
scikit-optimize
pymoo

# Visualization
matplotlib
seaborn

# Utilities
tqdm
boto3
awscli